<!DOCTYPE html>
<html>
<head>
  <title>Mailview</title>
  <%= stylesheet_link_tag    "mailview/application", :media => "all" %>
  <%= javascript_include_tag "mailview/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
